main {
    position: relative;
}

.hero {
    width: 100%;
}

section {
    position: absolute;
    width: 300px;
    margin: 0;
    z-index: 10;
}

.data {
    top: 2rem;
    left: 2rem;
}

.weather {
    bottom: 2rem;
    right: 2rem;
}

.weather-info {
    flex-direction: row;
    justify-content: space-around;
}

.weather-icon img {
    margin-bottom: 0;
    margin-right: 1rem;
}

dl {
    grid-template-columns: auto 1fr;
}
